@media only screen and (max-width: 600px) {
	.navUl {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: #333;
	}

	.navUl.show {
		display: flex;
	}

	.navLi {
		margin: 0;
		padding: 10px;
		text-align: center;
	}

	.nav a {
		color: #fff;
		transition: color 0.3s ease-in-out;
		font-size: 16px;
	}

	.nav a:hover {
		color: #00ffdd;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
		color: #fff;
		font-size: 1.5rem;
	}
}