
.nav {
	padding-block: 0.5rem;
	padding-inline: 1rem;
	/* background-color: hsl(220, 13%, 18%); */
	/* color: hsl(0, 0%, 100%); */
}

.menu-icon{
	display: none;
}

.navUl {
	display: flex;
	justify-content: space-around;
}

.navLi {
	margin-inline-start: 1rem;
}

.nav a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: color 0.3s ease-in-out;
}

.nav a:visited {
	color: transparent	;

}
.nav a:hover {
	color: #1DB954; /* Spotify green */
}